@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);


:root {
  --accent-light: #bef264; /* lime-300 */
  --accent-dark: #84cc16; /* lime-600 */
}

/* Apply smooth backgrounds & typography */
body {
  font-family: "Geist", "Inter", sans-serif;
  background-color: hsl(0 0% 99%);
}

[data-theme="dark"] body {
  background-color: hsl(0 0% 7%);
}
